/*
  Work from the top down!
*/
h1:first-of-type {
  text-transform: capitalize;
  flex: 1;
}

body {
  padding-top: 0em;
  padding-bottom: 1em;
  padding-left: 10%;
  padding-right: 10%;

  background-color: lightgray;

  font-family: serif;
}

.flexy {
  display: flex;
  align-items: baseline;
}

.copyright {
  font-size: small;
  font-family: serif;
  flex: 1; /* You were expecting a float. Weren't you? It's ok. I'm fine. */
}

.contactme {
  font-size: small;
  font-family: serif;
}

#neko {
  width: 5%;
  min-width: max-content; /* Don't let kitty get TOO squished! */
  height: auto;
  image-rendering: pixelated; /* Keep kitty looking sharp. */
  margin-top: 2em;
  margin-right: 0%;
  margin-left: auto;
  display: block;
}
